@model IEnumerable<Library.ViewModels.ReservationsVm>

@{
    ViewData["Title"] = "Reservations";
}


<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Reservations
                    </h2>
                    @if (TempData["reservationDeletion"] != null)
                    {
                        <p class="alert alert-info">@TempData["reservationDeletion"]</p>
                    }
                    @if (TempData["noBookCopies"] != null)
                    {
                        <p class="alert alert-info">@TempData["noBookCopies"]</p>
                    }
                </div>

                <table class="table table-hover" style="cursor:default">
                    <thead>
                        <tr>
                            <th>Reservation ID</th>
                            <th>Customer Name</th>
                            <th>Customer ID</th>
                            <th>Book ISBN</th>
                            <th>Book Name</th>
                            <th>Book Author</th>
                            <th>Requested on</th>
                            <th>Accept</th>
                            <th>Decline</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var res in Model)
                        {
                            <tr>
                                <td>@res.ID</td>
                                <td>@res.FullName</td>
                                <td>@res.UserID</td>
                                <td>@res.BookISBN</td>
                                <td>@res.BookName</td>
                                <td>@res.BookAuthor</td>
                                <td>@res.RequestedAt</td>
                                <td>
                                    <form class="form" asp-controller="Order" asp-action="AcceptReservation">
                                        <input type="Hidden" name="id" value="@res.ID" />
                                        <input type="submit" value="Accept" class="btn btn-primary btn-outline-secondary" />
                                    </form>
                                </td>
                                <td>
                                    <form class="form" asp-controller="Order" asp-action="DeclineReservation">
                                        <input type="Hidden" name="id" value="@res.ID" />
                                        <input type="submit" value="Decline" class="btn btn-primary btn-outline-secondary" />
                                    </form>
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
    </div>
</div>

